<!DOCTYPE html>
<html >
<head>

</head>
<body>
    <h1>add your data </h1>
    <form method="POST">
        <label for="date">Date:</label>
        <input type="date" name="date" required>
        <label for="subject">study hours:</label>
        <input type="text" name="study_hours" required>
        <label for="subject">sleep hours:</label>
        <input type="text" name="sleep_hours" required>
        <label for="subject">work hours:</label>
        <input type="text" name="work_hours" required>
        <label for="subject">sport hours:</label>
        <input type="text" name="sport_hours" required>
        <input type="submit" value="Add">
    </form>
    
</body>
</html>