<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <h1>Edit</h1>
    <form method="POST">
        <label for="date">Date:</label>
        <input type="date" name="date" value="{{data.date}}">
        <label for="subject">study hours:</label>
        <input type="text" name="study_hours" value="{{data.study_hours}}">
        <label for="subject">sleep hours:</label>
        <input type="text" name="sleep_hours" value="{{data.sleep_hours}}">    
        <label for="subject">work hours:</label>
        <input type="text" name="work_hours" value="{{data.work_hours}}">
        <label for="subject">sport hours:</label>
        <input type="text" name="sport_hours" value="{{data.sport_hours}}">
        <input type="submit" value="Update">
        </form>
    
</body>
</html>